<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
    <title>Document</title>
</head>
<body>
    <h1>SISTEMA DE GESTIÓN</h1>
    <div class="tareas">
        <!--Sección tarea actual-->
        <section class="section tarea-actual">
            <h2>Tarea actual</h2>

            {% if not currentTask == '' %}
            <!--div para mostrar tarea actual-->
            <div class="tarea">
                <span class="descripcion">{{ user.currentTask.description }}</span>
                <span class="fecha">{{ user.currentTask.dueDate }}</span>
            </div>
            <form action="/end-task" method="POST">
            <button>Finalizar tarea</button>
            </form>
            {% else %}
            <span>Sin tarea</span>
            {% endif %}
        </section>

        <!--Sección tarea futura-->
        <section class="section tareas-futuras">
            <div class="tareas-futuras-tittle">
            <h2>Tareas Futuras</h2>
            <a href="/add-task">
                <button>Agregar nueva tarea</button>
            </a>
            </div>
            {% for task in user.taskList %}
            <div class="tarea">
                <span class="descripcion">{{task.description}}</span>
                <span class="fecha">{{task.dueDate}}</span>
            </div>
            {% endfor %}
        </section>
    </div>
</body>
</html>